<!doctype html>
<html>
    <head>
        <title>
            {% if title %}
            {{title}}
            {% else %}
            No title given
            {% endif %}
        </title>
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <div id="nav">
            <a href="{{ url_for("index") }}">Home</a>
            <a href="{{ url_for("users") }}">Users</a>
            <a href="{{ url_for("games") }}">Games</a>
            {% if g.user.is_authenticated() %}
            <a href="{{ url_for("makeGame") }}">Make game</a>
            <a href="{{ url_for("logout") }}">Logout</a><br>
            Logged in as: {{ g.user.nickname }}
            {% else %}
            <a href="{{ url_for("register") }}">Register</a>
            <a href="{{ url_for("login") }}">Login</a>
            {% endif %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>

