{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<form action="" method="POST" name="register">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username(size=20) }}
    {% for error in form.errors.username %}
    {{ error }}
    {% endfor %}<br>
    {{ form.password.label }} {{ form.password(size=20) }}
    {% for error in form.errors.password %}
    {{ error }}
    {% endfor %}<br>
    {{ form.passwordAgain.label }} {{ form.passwordAgain(size=20) }}
    {% for error in form.errors.passwordAgain %}
    {{ error }}
    {% endfor %}<br>
    {{ form.email.label }} {{ form.email(size=20) }}
    {% for error in form.errors.email %}
    {{ error }}
    {% endfor %}<br>
    <input type="submit" value="Register">
</form>
{% endblock %}

